<div class="listing-page">
<<<<<<< Updated upstream
    {{log listing.property}}
    {{#each listing.pictures}}
    <img class="listing-image" src={{fileName}}></img>
    {{/each}}
=======
    <img id="listing_pic" class="listing-image" src={{req.file.path}}></img>
>>>>>>> Stashed changes
    <div class="listing-wrapper">
        <div class="listing-page-left">
            <div class="listing-info">
                <div class="listing-info-left">
                    <div class="address">
                        {{listing.property.address}}
                    </div>
                </div>
                <div class="listing-info-right">
                    <div class="rating">
                        {{> rating listing.property.listingRating}}
                    </div>
                    <div class="basic-info">
                        ${{listing.property.price}} </br>
                        Bedrooms: {{listing.property.beds}} </br>
                        Bathrooms: {{listing.property.baths}}
                    </div>
                </div>
            </div>
            <div class="description">
                {{listing.property.description}}
            </div>
        </div>
        <div class="listing-page-right">
            <div class="landlord-info" id="landlord-info">
                <div class="landlord-profile">
                    <img class="landlord-image" src={{listing.property.profile}}></img>
                    <div class="landlord-text">
                        <div class="landlord-name">
                            {{listing.property.landlordName}}
                        </div>
                        {{> rating listing.property.landlordRating}}
                    </div>
                </div>
                <div class="landlord-bio">
                    {{listing.property.bio}}
                </div>
                <div class="contact-info">
                    {{listing.property.phone}} </br>
                    {{listing.property.email}}
                </div>
            </div>
        </div>
    </div>
    <div class="reviews-section">
            <header class="profile-page-box-header">
                Reviews
            </header>
            <div class="reviews">
                {{#each listing.reviews}}
                {{> review this}}
                {{/each}}
            </div>
        </div>
</div>
<script type="module" src="/public/js/listingPage.js"></script>