<div id="featured-listing">
    <img class="listing-picture" src="images/picture_1666042712023.jpeg">
    <div class="listing-info">
        {{landlord}}
        {{price}}
        {{description}}
        {{street_number}}
        {{street}}
        {{city}}
        {{state}}
        {{zip}}
        Number of rooms: {{rooms}}
        Number of baths: {{baths}}
    </div>
    {{> review top_review}}
</div>