<div class="featured-landlords">
    <div class="featured-landlord" id="featured-landlord-1">
        <div class="featured-landlord-left">
            <img class="landlord-picture" src="images/picture_1666042712023.jpeg">
            <p class="landlord-name">{{landlord1.name}}</p>
        </div>
        <div class="featured-landlord-right">
            <div class="landlord-info">
                {{> rating landlord1.rating}}
                <div class="bio">
                    {{landlord1.bio}}
                </div>
            </div>
        </div>
    </div>
    <div class="featured-landlord" id="featured-landlord-2">
        <div class="featured-landlord-left">
            <div class="landlord-info">
                {{> rating landlord2.rating}}
                <div class="bio">
                    {{landlord2.bio}}
                </div>
            </div>
        </div>
        <div class="featured-landlord-right">
            <img class="landlord-picture" src="images/picture_1666042712023.jpeg">
            <p class="landlord-name">{{landlord2.name}}</p>
        </div>
    </div>
    <div class="featured-landlord" id="featured-landlord-3">
        <div class="featured-landlord-left">
            <img class="landlord-picture" src="images/picture_1666042712023.jpeg">
            <p class="landlord-name">{{landlord3.name}}</p>
        </div>
        <div class="featured-landlord-right">
            <div class="landlord-info">
                {{> rating landlord3.rating}}
                <div class="bio">
                    {{landlord3.bio}}
                </div>
            </div>
        </div>
    </div>
</div>